@model IEnumerable<StudentPropertyManagement.Models.RenewRequest>

@{
  ViewData["Title"] = "Renewal List";
  Layout = "~/Views/Shared/_DashbordLayout.cshtml";
}

<div class="white-box">
  <h3 class="box-title">@ViewData["Title"]</h3>
  <p class="text-muted"><a asp-action="Create" class="btn btn-outline-secondary">Create New</a></p>
  <div class="table-responsive">
    <table class="table text-nowrap">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Student)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DateRequested)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.isFulfiled)
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Student.UserName)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.isFulfiled)
            </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> 
              <a asp-action="Renew" asp-route-id="@item.Id" class="btn btn-success">Renew</a> 
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> 
              <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
