@model StudentPropertyManagement.ViewModel.ProfileViewModel
@{
  ViewData["Title"] = "StudentDetail";
  Layout = "~/Views/Shared/_DashbordLayout.cshtml";
  int counter = 1;
}


<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-12">
    <div class="white-box">
      <div class="user-bg">
        <img width="100%" alt="user" src="~/assetd/plugins/images/large/img1.jpg">
        <div class="overlay-box">
          <div class="user-content">
            <a href="javascript:void(0)">
              <img src="~/assetd/plugins/images/users/studentProfile.jpg"
                   class="thumb-lg img-circle" alt="img">
            </a>
            <h4 class="text-white mt-2">@Model.User.Surname @Model.User.FirstName @Model.User.MiddleName</h4>
            <h5 class="text-white mt-2">@Model.User.UserName</h5>
          </div>
        </div>
      </div>
      <div class="user-btm-box mt-5 d-md-flex">
        <div class="col-10 text-left">
          <h3>Accomodation History:</h3>
        </div>
        <div class="col-2 text-right">
          <h1>@Model.Accomodations.Count()</h1>
        </div>

      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-12">
    <div class="card">
      <div class="card-body">
        <form asp-action="StudentDetail" class="form-horizontal form-material">
          <input type="hidden" asp-for="User.Id" />
          <div class="form-group mb-4">
            <label class="col-md-12 p-0">Full Name</label>
            <div class="col-md-12 border-bottom p-0">
              <input type="text" disabled placeholder="@Model.User.Surname @Model.User.FirstName @Model.User.MiddleName"
                     class="form-control p-0 border-0">
            </div>
          </div>
          <div class="form-group mb-4">
            <label class="col-md-12 p-0">Registation Number</label>
            <div class="col-md-12 border-bottom p-0">
              <input asp-for="User.RegNumber" type="text" placeholder="Enter your registration number" value="@Model.User.RegNumber  "
                     class="form-control p-0 border-0">
            </div>
          </div>

          <div class="form-group mb-4">
            <label class="col-md-12 p-0">Surname</label>
            <div class="col-md-12 border-bottom p-0">
              <input asp-for="User.Surname" type="text" placeholder="Enter your registration number" value="@Model.User.Surname  "
                     class="form-control p-0 border-0">
            </div>
          </div>
          <div class="form-group mb-4">
            <label class="col-md-12 p-0">First Name</label>
            <div class="col-md-12 border-bottom p-0">
              <input asp-for="User.FirstName" type="text" placeholder="Enter your registration number" value="@Model.User.FirstName  "
                     class="form-control p-0 border-0">
            </div>
          </div>
          <div class="form-group mb-4">
            <label class="col-md-12 p-0">Middle Name</label>
            <div class="col-md-12 border-bottom p-0">
              <input asp-for="User.MiddleName" type="text" placeholder="Enter your registration number" value="@Model.User.MiddleName  "
                     class="form-control p-0 border-0">
            </div>
          </div>


          <div class="form-group mb-4">
            <div class="col-sm-12">
              <button class="btn btn-success">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Column -->

  <div class="white-box">
    <h3 class="box-title">Accomodations</h3>
    <p class="text-muted">The accomodations you have been in</p>
    <div class="table-responsive">
      <table class="table text-nowrap">
        <thead>
          <tr>
            <th class="border-top-0">#</th>
            <th class="border-top-0">Accomodation Name</th>
            <th class="border-top-0">Date Joined</th>
            <th class="border-top-0">Expiry Date</th>
            <th class="border-top-0">Action</th>
          </tr>
        </thead>
        <tbody>

          @foreach (var item in Model.Accomodations)
          {
            <tr>
              <td>@counter</td>
              <td>@item.Space.Name</td>
              <td>@item.JoinedDate.ToString("dd/MMMM/yyyy")</td>
              <td>@item.ExpiryDate.ToString("dd/MMMM/yyyy")</td>
              <td>
                <a asp-action="Details" asp-route-id="@item.SpaceId" asp-controller="AccomodationSpaces" class="btn btn-primary">View Accomodation</a>
              </td>
            </tr>
            counter++;
          }


        </tbody>
      </table>
    </div>
  </div>
</div>


